name: Deploy

on:
  schedule:
    # Run at 7am every day
    # - cron:  '0 7 * * *'
    # Run at 7am every Monday
    - cron:  '0 7 * * 1'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH: ssh -o StrictHostKeyChecking=no -i ~/.ssh/demo.key tutor@palm.demo.overhang.io
      VERSION: palm
      LMS_HOST: palm.demo.overhang.io
      TUTOR: ~/.local/bin/tutor
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/demo.key
          chmod 600 ~/.ssh/demo.key
        env:
          SSH_KEY: ${{ secrets.DEMO_SSH_KEY }}
      - name: Upgrade python requirements
        # Older versions of pip are affected by this issue which prevents us from
        # installing in editable mode in ~/.local:
        # https://github.com/pypa/pip/issues/7953
        run: |
          $SSH "#! /bin/bash -e
            pip install --user --upgrade pip==23.1.2 setuptools
          "
      # Server system dependencies, to be run separately
      # apt update && apt install -y python3-pip
      - name: Install dependencies, tutor and plugins (from source)
        run: |
          $SSH "#! /bin/bash -e
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor.git@$VERSION#egg=tutor
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-android.git@$VERSION#egg=tutor-android
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-cairn.git@$VERSION#egg=tutor-cairn
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-credentials.git@$VERSION#egg=tutor-credentials
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/edly-io/tutor-discovery.git@$VERSION#egg=tutor-discovery
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-forum.git@$VERSION#egg=tutor-forum
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/gondaljutt/tutor-indigo.git@jalal/palm#egg=tutor-indigo
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-mfe.git@$VERSION#egg=tutor-mfe
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/FahadKhalid210/tutor-minio.git@fahadkhalid210/palm#egg=tutor-minio
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-notes.git@$VERSION#egg=tutor-notes
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-xqueue.git@$VERSION#egg=tutor-xqueue
            pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/eduNEXT/tutor-contrib-codejail.git@$VERSION#egg=tutor-contrib-codejail
            # pip install --user --upgrade --src=~/apps/openedx/src --editable git+https://github.com/overhangio/tutor-ecommerce.git@$VERSION#egg=tutor-ecommerce
          "
      # Backup
      - name: Backup data
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/apps/openedx/backup
            if [ -d ~/.local/share/tutor/data/caddy ]
            then
              echo "Backing up caddy data"
              sudo cp -r ~/.local/share/tutor/data/caddy ~/apps/openedx/backup/
            else
              echo "No caddy data to backup"
            fi
          "
      # Clear
      - name: Clear existing platform
        run: |
          $SSH "#! /bin/bash -e
            if [ -d ~/.local/share/tutor/env ]
            then
              echo "Stopping tutor containers"
              $TUTOR local stop
            else
              echo "No running tutor container"
            fi
            sudo rm -rf ~/.local/share/tutor
            docker container prune --force
          "
      # Restore
      - name: Restore some data
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/.local/share/tutor/data/
            if [ -d ~/apps/openedx/backup/caddy ]
            then
              echo "Restoring caddy backup data"
              sudo cp -r ~/apps/openedx/backup/caddy ~/.local/share/tutor/data/
            else
              echo "No caddy backup data to restore"
            fi
          "
      # Configure
      - name: Enable plugins
        # missing plugins: ecommerce
        run: $SSH "$TUTOR plugins enable android cairn codejail credentials discovery forum indigo mfe minio notes xqueue"
      - name: Configure tutor settings
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR config save \
              --set LMS_HOST=$LMS_HOST \
              --set CMS_HOST=studio.$LMS_HOST \
              --set ENABLE_HTTPS=true \
              --set PLATFORM_NAME='Open edx $VERSION Demo'
          "
      - name: Install extra xblocks/packages
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR config save --append 'OPENEDX_EXTRA_PIP_REQUIREMENTS=edx-event-routing-backends>=5.3.0,<6.0.0'
          "
      #     $SSH "#! /bin/bash -e
      #       $TUTOR config save --set 'OPENEDX_EXTRA_PIP_REQUIREMENTS=[\"openedx-scorm-xblock<15.0.0,>=14.0.0\", \"git+https://github.com/ubc/ubcpi@757e8903395c749dc8bd9decc314377fd63d0e5b\", \"edx-event-routing-backends>=5.2.0,<6.0.0\"]'
          # "
      - name: Configure xqueue grader password
        run: |
          $SSH "$TUTOR config save --set XQUEUE_AUTH_PASSWORD=xqueuepassword"
      # Build
      - name: Build Docker images
        run: |
          $SSH "#! /bin/bash -e
            # note: we removed the --no-cache option to avoid long deploy times
            $TUTOR images build all
          "
      - name: Initialize codejail
        run: $SSH "$TUTOR local do init --limit=codejail"
      - name: Launch
        run: $SSH "$TUTOR local launch --non-interactive"
      # Provision
      - name: "Provision: Set theme"
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR local do settheme indigo
          "
      - name: "Provision: Create users"
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR local do createuser --staff --superuser --password=admin admin admin@overhang.io
            $TUTOR local do createuser --password=student student student@overhang.io
          "
      # Unfortunately ecommerce user creation may not be automated because the admin
      # user needs to login from the frontend first. We could use the ecommerce
      # createsuperuser management command instead, but it reads the password
      # interactively from the user, which is not going to work in this CI.
      # - name: Create ecommerce admin user
      #   run: |
      #     $SSH "#! /bin/bash -e
      #       $TUTOR local run ecommerce ./manage.py shell -c "from django.contrib.auth import get_user_model; get_user_model().objects.filter(email='admin@overhang.io').update(is_staff=True, is_superuser=True)"
      #     "
      - name: "Provision: Import demo course"
        run: $SSH "$TUTOR local do importdemocourse"

      - name: "Provision: Import test course & libraries"
        run: |
          $SSH "#! /bin/bash -e
            cd ~/apps/openedx
            rm -rf openedx-test-course
            git clone https://github.com/openedx/openedx-test-course
            cd openedx-test-course

            $TUTOR local run -v $(pwd):/openedx/data/openedx-test-course cms ./manage.py cms import_content_library /openedx/data/openedx-test-course/dist/test-problem-bank.tar.gz admin

            $TUTOR local run -v $(pwd):/openedx/data/openedx-test-course cms ./manage.py cms import /openedx/data openedx-test-course/test-course/course

            $TUTOR local run cms ./manage.py cms reindex_course --all --setup
          "
